@page "/Compras/AgregarCompra"
@model AgregarCompraModel
@{
    var image = "";
    if (Model.Input.Image != null)
    {
        image = "data:image/jpg;base64," + Convert.ToBase64String(Model.Input.Image, 0, Model.Input.Image.Length);
    }
    else
    {
        image = "/images/images/agregarCompra.png";
    }
}
<div class="container">
    <h2>Compras</h2>
    <div class="row">
        <div class="col-sm">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item  nav-link active" data-toggle="tab" href="#nav-compras" role="tab" aria-selected="true">Compra</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#nav-pagos" role="tab" aria-selected="false">Procesar Pago</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-compras" role="tabpanel">
                    <form method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <output id="imageShopping">
                                            <img id="imgProductoCompra" src="@image" class="imageUser" />
                                        </output>
                                    </div>
                                    @*<div class="card-body">
                                    <div class="caption text-center">
                                    <label class="btn btn-primary" for="files">Imagen</label>
                                    <input asp-for="Input.AvatarImage" accept="image/*" type="file" id="files" />
                                    </div>
                                    </div>*@
                                </div>
                            </div>
                            <div class="col-xl-7 col-md-5">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"> Registrar Compra </h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="accordion" id="accordionExample">
                                            <div class="card">
                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <div class="input-group mb-3">
                                                                <input asp-for="Input.Proveedor " placeholder="Proveedor" class="form-control" autofocus autocomplete="off" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly />
                                                                <div class="input-group-append">
                                                                    <a class="btn btn-info" asp-area="Compras" asp-page="/Account/ListaProveedores"><i class="bi bi-search"></i></a>
                                                                </div>
                                                            </div>
                                                            <span asp-validation-for="Input.Proveedor" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" id="basic-addon1">Id.Prod</span>
                                                                </div>
                                                                <input asp-for="Input.InputIdProducto" placeholder="IdProducto" class="form-control" id="InputIdProducto" onblur="compras.BusquedaProducto()" aria-label="Username" aria-describedby="basic-addon1" autofocus autocomplete="off" />
                                                            </div>
                                                            <span asp-validation-for="Input.InputIdProducto" class="text-danger"></span>
                                                            <span class="text-danger" id="ExisteProducto"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group mb-3">
                                                                <input asp-for="Input.Nombre" placeholder="Nombre de Producto" class="form-control" id="InputNombre" autofocus autocomplete="off" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly />
                                                                <div class="input-group-append">
                                                                    <a class="btn btn-info" asp-area="Compras" asp-page="/Account/ListaProductos"><i class="bi bi-search"></i></a>
                                                                </div>
                                                            </div>
                                                            <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <input asp-for="Input.Descripcion" placeholder="Descripcion" class="form-control" id="InputDescripcion" readonly />
                                                            <span asp-validation-for="Input.Descripcion" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" id="basic-addon1">Cant</span>
                                                                </div>
                                                                <input asp-for="Input.Cantidad" placeholder="Cantidad" class="form-control" min="1" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" onkeyup="compras.purchaseAmount()" />
                                                            </div>
                                                            <span asp-validation-for="Input.Cantidad" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">Precio</span>
                                                                    <span class="input-group-text">¢</span>
                                                                </div>
                                                                <input asp-for="Input.Precio" placeholder="Precio de Compra" class="form-control" autocomplete="off" id="InputPrecio" onkeyup="compras.purchaseAmount()" readonly />
                                                            </div>
                                                            <span asp-validation-for="Input.Precio" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">Descuento</span>
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                                <input class="form-control" asp-for="Input.Descuento" readonly autocomplete="off" />
                                                            </div>
                                                            <span asp-validation-for="Input.Descuento" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="text-danger">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <span class="text-danger labelCompra_Importe">
                                                                <label>T.Bruto: </label>
                                                                @Html.Raw(Model.Input.Moneda)
                                                                <label class="text-success labelCompra_Importe" id="labelCompra_Importe">0.00</label>
                                                            </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <span class="text-danger labelCompra_Importe">
                                                                <label>Desc: </label>
                                                                @Html.Raw(Model.Input.Moneda)
                                                                <label class="text-success labelCompra_Importe" id="labelCompra_Descuento">0.00</label>
                                                            </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <span class="text-danger labelCompra_Importe">
                                                                <label>IVA: </label>
                                                                @Html.Raw(Model.Input.Moneda)
                                                                <label class="text-success labelCompra_Importe" id="labelCompra_Impuesto">0.00</label>
                                                            </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <span class="text-danger labelCompra_Importe">
                                                                <label>T.NETO: </label>
                                                                @Html.Raw(Model.Input.Moneda)
                                                                <label class="text-success labelCompra_Importe" id="labelCompra_Neto">0.00</label>
                                                            </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-primary btn-block">Registrar Compra</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="nav-pagos" role="tabpanel">
                    <form method="post">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">Procesar Compra</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="accordion" id="accordionExample">
                                            <div class="card">
                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label>
                                                                Total Bruto
                                                            </label>
                                                            <br />
                                                            <span class="text-danger labelCompra_Importe_peq">

                                                                <label class="text-danger labelCompra_Importe_peq">
                                                                    @String.Format(Model.Moneda + "{0:#,###,###,##0.00####}",Model.montoBruto)
                                                                </label>
                                                            </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>
                                                                Total Impuestos
                                                            </label>
                                                            <br />
                                                            <span class="text-danger labelCompra_Importe_peq">

                                                                <label class="text-danger labelCompra_Importe_peq">
                                                                    @String.Format(Model.Moneda + "{0:#,###,###,##0.00####}",Model.montoImpuesto)
                                                                </label>
                                                            </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>
                                                                Total Descuentos
                                                            </label>
                                                            <br />
                                                            <span class="text-danger labelCompra_Importe_peq">

                                                                <label class="text-danger labelCompra_Importe_peq">
                                                                    @String.Format(Model.Moneda + "{0:#,###,###,##0.00####}",Model.montoDescuento)
                                                                </label>
                                                            </span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>
                                                                Total Neto
                                                            </label>
                                                            <br />
                                                            <span class="text-danger labelCompra_Importe_peq">

                                                                <label class="text-danger labelCompra_Importe_peq">
                                                                    @String.Format(Model.Moneda + "{0:#,###,###,##0.00####}",Model.monto)
                                                                </label>
                                                            </span>
                                                        </div>
                                                        <!--***-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Factura</span>
                                                        </div>
                                                        <input asp-for="Input.FacturaProveedor" placeholder="FacturaProveedor" class="form-control" autocomplete="off" value="0" />
                                                    </div>
                                                    <span asp-validation-for="Input.FacturaProveedor" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Pago</span>
                                                            <span class="input-group-text">¢</span>
                                                        </div>
                                                        <input asp-for="Input.Pagos" placeholder="Pago" class="form-control" autocomplete="off" onkeyup="compras.Pagos(@Model.monto)" value="0.0" />
                                                    </div>
                                                    <span asp-validation-for="Input.Pagos" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label id="labelCompra_Deuda">
                                                        Deuda Total
                                                    </label>
                                                    <br />
                                                    <span class="text-danger labelCompra_Importe">
                                                        @Html.Raw(Model.Input.Moneda)
                                                        <label class="text-success labelCompra_Importe" id="labelCompra_Deudas">
                                                            0.00
                                                        </label>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" id="checkCredito" asp-for="Input.Credito" onclick="compras.CheckCredito()" />
                                                        <label class="form-check-label" for="check">Crédito</label>
                                                        &nbsp;
                                                        <input type="checkbox" class="form-check-input" id="checkContado" asp-for="Input.Contado" onclick="compras.CheckContado()" />
                                                        <label class="form-check-label" for="check">Contado</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-check-label">Metodo de Pago</label>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" id="checkEfectivo" asp-for="Input.ChkEfectivo" onclick="compras.CheckEfectivo()" disabled="true" />
                                                        <label class="form-check-label" for="check">Efect.</label>
                                                        &nbsp;
                                                        <input type="checkbox" class="form-check-input" id="checkTarjeta" asp-for="Input.ChkTarjeta" onclick="compras.CheckTarjeta()" disabled="true" />
                                                        <label class="form-check-label" for="check">Tarj.</label>
                                                        &nbsp;
                                                        <input type="checkbox" class="form-check-input" id="checkTransferencia" asp-for="Input.ChkTransferencia" onclick="compras.CheckTransferencia()" disabled="true" />
                                                        <label class="form-check-label" for="check">Transf.</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-primary btn-block"> Aceptar </button>
                                                        </div>
                                                        &nbsp;&nbsp;
                                                        <div class="form-group">
                                                            <a href="/Compras/AgregarCompra" class="btn btn-warning btn-block text-white"> Cancelar </a>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input name="value" type="hidden" value="1" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="text-danger">
                                                            @Html.DisplayFor(m=> m.Input.ErrorMessage)
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-fee2" role="tabpanel">
                            <div class="tab-pane fade show active" id="nav-fee2" role="tabpanel">
                                <form method="get">
                                    <div class="row">
                                        <div class="form-group">
                                            <input type="text" name="search" placeholder="Buscar" class="form-control" autofocus autocomplete="off" />
                                        </div>
                                        &nbsp;&nbsp;
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-outline-info btn-sm">Buscar</button>
                                        </div>
                                    </div>
                                </form>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Input.Nombre)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Input.Cantidad_Compra)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Input.Precio)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Input.TotalNeto)
                                            </th>
                                            <th>
                                                Editar
                                            </th>
                                            <th>
                                                Borrar
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Input.Temporal_compras.List)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.Raw(item.Nombre)
                                                </td>
                                                <td>
                                                    @Html.Raw(item.Cantidad_Compra)
                                                </td>
                                                <td>
                                                    @String.Format(Model.Moneda + "{0:#,###,###,##0.00####}",item.Precio)
                                                </td>
                                                <td>
                                                    @String.Format(Model.Moneda + "{0:#,###,###,##0.00####}",item.TotalNeto)
                                                </td>
                                                <td>
                                                    <a href="/Compras/AgregarCompra?id=@Model._idPagina&IdTemporal=@item.idTempCompras" class="btn btn-outline-info btn-sm">Editar</a>
                                                </td>
                                                <td>
                                                    <form method="post">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-outline-danger btn-sm">Eliminar</button>
                                                        </div>
                                                        <div class="form-group">
                                                            <input name="delete" type="hidden" value="@item.idTempCompras" />
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="form-group">
                                    <label>
                                        Importe total:&nbsp;
                                        <span class="text-danger">
                                            @Html.Raw(Model.Input.Moneda)
                                            <label class="text-success">@string.Format("{0:#,###,###,##0.00####}",Model.monto)</label>
                                        </span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    Resultados @Html.Raw(Model.Input.Temporal_compras.Pagi_info)
                                    <br />
                                    @Html.Raw(Model.Input.Temporal_compras.Pagi_navegacion)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="BusquedaProveedor" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Contenido del modal -->
        <div class="modal-content">
            <div class="modal-header">
                <h5>Seleccione un proveedor</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="get">
                    <div class="row">
                        <div class="form-group">
                            <input type="text" name="search" placeholder="Buscar" class="form-control" autofocus autocomplete="off" />
                        </div>
                        &nbsp;&nbsp;
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-info btn-sm">Buscar</button>
                        </div>
                    </div>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Input.NombreProveedor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Input.CedJurProveedor)
                            </th>
                            <th>
                                Seleccionar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Input.Lista_Proveedores.List)
                        {
                            <tr>
                                <td>
                                    @Html.Raw(item.Nombre_Proveedor)
                                </td>
                                <td>
                                    @Html.Raw(item.Ced_Jur)
                                </td>
                                <td>
                                    <form method="post">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-outline-info btn-sm">Seleccionar</button>
                                        </div>
                                        <div class="form-group">
                                            <input name="NombreProv" type="hidden" value="@item.Nombre_Proveedor" />
                                        </div>
                                        <div class="form-group">
                                            <input name="SelProv" type="hidden" value="1" />
                                        </div>
                                    </form>
                                    @*<a href="/Compras/AgregarCompra?SelProv=1" class="btn btn-outline-info btn-sm" method="POST">Seleccionar</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    Resultados @Html.Raw(Model.Input.Lista_Proveedores.Pagi_info)
                    <br />
                    @Html.Raw(Model.Input.Lista_Proveedores.Pagi_navegacion)
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div id="BusquedaProducto" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Contenido del modal -->
        <div class="modal-content">
            <div class="modal-header">
                <h5>Seleccione un Producto</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="get">
                    <div class="row">
                        <div class="form-group">
                            <input type="text" name="search" placeholder="Buscar" class="form-control" autofocus autocomplete="off" />
                        </div>
                        &nbsp;&nbsp;
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-info btn-sm">Buscar</button>
                        </div>
                    </div>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Input.IdProducto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Input.NombreProducto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Input.CantidadProducto)
                            </th>
                            <th>
                                Seleccionar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Input.Lista_Productos.List)
                        {
                            <tr>
                                <td>
                                    @Html.Raw(item.Id_Producto)
                                </td>
                                <td>
                                    @Html.Raw(item.Nombre_Producto)
                                </td>
                                <td>
                                    @Html.Raw(item.Cantidad_Producto)
                                </td>
                                <td>
                                    <form method="post">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-outline-info btn-sm">Seleccionar</button>
                                        </div>
                                        <div class="form-group">
                                            <input name="IdProd" type="hidden" value="@item.Id_Producto" />
                                        </div>
                                        <div class="form-group">
                                            <input name="SelProd" type="hidden" value="1" />
                                        </div>
                                    </form>
                                    @*<a href="/Compras/AgregarCompra?SelProv=1" class="btn btn-outline-info btn-sm" method="POST">Seleccionar</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    Resultados @Html.Raw(Model.Input.Lista_Proveedores.Pagi_info)
                    <br />
                    @Html.Raw(Model.Input.Lista_Proveedores.Pagi_navegacion)
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}